@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-300.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-700.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-900.woff") format("woff");
}

body {
	width: 1020px;
	margin: 0 auto;
	font-family: "Lato", "Arial", sans-serif;
}

.quote .wrapper {
	max-width: 940px;
	margin: 0 auto;
}

.quote {
	padding: 34px 0 66px 0;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.quote__title {
	margin-top: 28px;
	margin-bottom: 21px;
	line-height: 1;
	font-weight: 900;
	font-size: 30px;
	letter-spacing: -0.2px;
	color: #f0d8d9;
}

.quote__text {
	margin: 0;
	text-align: justify;
	font-size: 18px;
	line-height: 1.67;
	font-weight: 300;
	color: #f0d8d9;
}

.quote-form {
	display: flex;
	justify-content: space-between;
	padding-top: 44px;
}

.form {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 619px;
}

.form__input {
	font-family: "Lato", Verdana, sans-serif;
	padding: 8px 14px;
	border: none;
	border-radius: 5px;
	background-color: #d6564f;
	font-size: 12px;
	line-height: 1.84;
	font-weight: 400;
	letter-spacing: 0.03px;
	overflow: hidden;
	color: #f48c8f;
}

.form__input::placeholder {
	color: #f48c8f;
}

.form__input + .form__input {
	margin-top: 16px;
}

.form__input_textarea {
	height: 185px;
	padding-top: 7px;
	padding-bottom: 10px;
	font-size: 12px;
}

.form__input_submit {
	position: absolute;
	left: 528px;
	top: 360px;
	margin-top: 0px;
	padding-left: 24px;
	padding-right: 24px;
	border: 1px solid #d6564f;
	text-transform: uppercase;
	color: #f0d8d9;
	cursor: pointer;
}

.form__input_submit:hover {
	border: 1px solid #f0d8d9;
	transition: 0.1s linear;
}

.form__input_submit:active {
	background-color: #f0d8d9;
	color: #2d303a;
	transition: 0.1s linear;
}

.contact-information {
	width: 300px;
}

.contact-information > h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -0.1px;
	font-size: 18px;
	line-height: 1;
	font-weight: 900;
	text-transform: capitalize;
	color: #f0d8d9;
}

.contact-information > p {
	font-family: "Lato", Verdana, sans-serif;
	margin-top: 10px;
	text-align: justify;
	font-size: 12px;
	line-height: 1.88;
	font-weight: 400;
	letter-spacing: -0.035px;
	color: #f0d8d9;
}

.contact-information > p::first-line {
	line-height: 1.8;
}

.contact-list {
	height: 70px;
	padding: 4px 0 0 23px;
	list-style: none;
}

.contact-list a {
	position: relative;
	font-size: 12px;
	line-height: 1.6;
	font-weight: 400;
	color: #f0d8d9;
	text-decoration: none;
}

.contact-list__item:last-child {
	transform: translateY(1px);
}

.contact-list a::before {
	content: "";
	display: block;
	position: absolute;
	left: -20px;
	bottom: 2px;
	transform: translateX(-2px);
	background-repeat: no-repeat;
}

.contact-list__item_location::before {
	width: 11px;
	height: 11px;
	margin-left: 2px;
	background-image: url(assets/images/location@1X.png);
}

.contact-list__item_phone::before {
	width: 11px;
	height: 11px;
	background-image: url(assets/images/phone@1X.png);
}

.contact-list__item_mail::before {
	width: 13px;
	height: 8px;
	background-image: url(assets/images/mail@1X.png);
}

.contact-list a:hover {
	color: #666d89;
	transition: color 0.2s linear;
}

.contact-list a:active {
	color: #f0d8d9;
	transition: color 0.2s linear;
}

/* FOOTER */

.footer {
	height: 77px;
	padding: 0 40px 0 42px;
	background-color: #2d303a;
}

.footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	margin-top: 16px;
	font-size: 12px;
	line-height: 0.5;
	font-weight: 400;
	letter-spacing: -0.2px;
	color: #666d89;
}

.footer__social-media {
	display: flex;
	margin-top: 23px;
	list-style: none;
}

.footer__social-media-item + .footer__social-media-item {
	margin-left: 8px;
}

.footer__social-media-item > a {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #666d89;
	background-position: center;
}

.footer__social-media-item > a:hover {
	background-color: #cac7c7;
}

.footer__social-media-item > a:active {
	background-color: #fdfdfd;
}

.footer-facebook {
	background-image: url(assets/images/facebook.png);
}

.footer-google {
	background-image: url(assets/images/google-plus.png);
}

.footer-twitter {
	background-image: url(assets/images/twitter.png);
}

.footer-linkedin {
	background-image: url(assets/images/linkedin.png);
}
