@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-300.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-700.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	font-display: fallback;
	src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
		url("assets/fonts/lato-v16-latin-900.woff") format("woff");
}

/* BODY */

body {
	width: 1020px;
	margin: 0 auto;
	font-family: "Lato", "Arial", sans-serif;
}

/* HEADER */

.header {
	min-width: 1020px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.header .wrapper {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	margin: 34px 0 35px 40px;
	font-size: 25px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.475px;
	color: #ffffff;
	text-transform: uppercase;
}

.header__logo_painted {
	color: #f06c64;
}

.nav__list {
	display: flex;
	margin-top: 45px;
	margin-right: 40px;
	list-style-type: none;
}

.nav__item {
	position: relative;
	line-height: 0;
	margin-left: 4px;
}

.nav__link {
	font-size: 12px;
	font-weight: 700;
	line-height: 9px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	transition: color 0.3s;
}

.nav__item:nth-child(2) {
	margin-left: 30px;
	letter-spacing: -0.168px;
}

.nav__item:nth-child(5) {
	letter-spacing: -0.19px;
}

.nav__item {
	margin-left: 29px;
}

.nav__item + .nav__item::before {
	position: absolute;
	left: -16px;
	color: #494e62;
	content: ".";
}

.nav__link:hover {
	color: #f06c64;
}

/* SLIDER */

.slider {
	display: flex;
	align-items: center;
	width: 1020px;
	padding: 49px 0;
	background-color: #f06c64;
}

.slider__arrow_left {
	margin-left: 42px;
}
.slider__arrow_right {
	margin-left: 55px;
}

.slider__arrow {
	width: 16px;
	height: 27px;
	margin-bottom: 11px;
	border: none;
	cursor: pointer;
	opacity: 0.2;
}
.slider__arrow:hover {
	opacity: 0.4;
}

.slider__image_vertical {
	margin-bottom: 11px;
	margin-left: 53px;
	padding-top: 4px;
}

.slider__image_horizontal {
	margin-bottom: 133px;
	margin-left: 70px;
}

/* SEVICES */

.main-services {
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.main-services .wrapper {
	width: 1020px;
	padding: 70px 0 30px 0;
}

.services__title {
	margin-top: 0px;
	margin-left: 40px;
	font-size: 30px;
	font-weight: 900;
	line-height: 17px;
	color: #666d89;
	letter-spacing: -0.18px;
}

.services__paragraph {
	margin: 27px 40px 0 40px;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	color: #767e9e;
	text-align: justify;
}

.services__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 46px 0 0 40px;
	padding-right: 41px;
}

.service {
	display: flex;
	max-width: 300px;
	margin-bottom: 33px;
}

.service__icon {
	height: 59px;
	width: 59px;
	margin-top: 1px;
	margin-left: 1px;
}

.service__content {
	margin-left: 20px;
}

.service__name {
	margin: 0px;
	font-size: 18px;
	font-weight: 900;
	line-height: 17px;
	color: #666d89;
	letter-spacing: -0.08px;
}

.service__description {
	text-align: justify;
	height: 63px;
	margin: 10px 0 0 1px;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	color: #767e9e;
}

.service:nth-child(2),
.service:nth-child(5) {
	margin-left: -1px;
}

.service:nth-child(3) .service__content,
.service:nth-child(6) .service__content {
	margin-left: 19px;
}

.service:nth-child(3) .service__name,
.service:nth-child(6) .service__name {
	margin-left: 3px;
}
